<div class="container-contact">
  <div class="contacts">
    <a [href]="info.url" *ngFor="let info of contacts">
      <i class="{{info.icon}}"></i>
      <span [textContent]="info.text"></span>
    </a>
  </div>

<!--  <iframe-->
<!--          height="650"-->
<!--          style="border:0; width: 100%;filter: invert(90%);"-->
<!--          loading="lazy"-->
<!--          allowfullscreen-->
<!--          src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJLRmu22_TRUARyCfUAMD9Lsw&key=AIzaSyAZJYFkfWrNLsaOQuEmSWrL3YNjyalUckY">-->
<!--  </iframe>-->
</div>

