  <div id="portfolio">
    <section id="about" class="container freelancer-about">
      <div class="row">

<!--        <div class="col-lg-4 col-md-6 mb-sm-50 img-wrapper">-->
<!--          <div class="t-item bg-dark">-->

<!--            <div class="t-image">-->
<!--              <img style="width: 100%" src="assets/images/iuri-photo.jpg" alt="Wine maker" class="img-responsive">-->
<!--            </div>-->

<!--            <div class="t-info">-->
<!--              <h4 class="t-name">{{ 'IuriMikelashvili' | translate }}</h4>-->
<!--              <span class="t-role">{{ 'WineMaker' | translate }}</span>-->
<!--              <div class="social-links">-->
<!--                <div><a href="https://www.facebook.com/iuri.miqelashvili"><i style="color: white;" class="fab fa-facebook-square"></i></a></div>-->
<!--                <div><a href="https://www.instagram.com/miqelashviliiuri/"><i class="fab fa-instagram" style="color: white;"></i></a></div>-->
<!--              </div>-->
<!--            </div>-->

<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-lg-8 freelancer-about-content">-->
<!--          <span class="header__text">{{ 'AboutMe' | translate }}</span>-->
<!--          &lt;!&ndash; <img src="assets/images/signature.png" alt="I.mik"> &ndash;&gt;-->
<!--          <blockquote>-->
<!--            <p></p>-->
<!--            <p></p>-->
<!--          </blockquote>-->
<!--        </div>-->

      </div>
    </section>
  </div>
