<div class="footer__container">
  <div class="links sec-heading-top-m">
<!--    <a href="https://www.facebook.com/simoneti_winecellar">-->
<!--      <i class="fab fa-facebook-square"></i>-->
<!--      <span>Simoneti wine cellar • სიმონეთის ღვინის მარანი</span>-->
<!--    </a>-->
    <a href="https://www.instagram.com/simoneti_winecellar">
      <i class="fab fa-instagram"></i>
      <span>Simoneti wine cellar • სიმონეთის ღვინის მარანი</span>
    </a>
<!--    <a href="tel:+995591057925">-->
<!--      <i class="fas fa-phone-square-alt"></i>-->
<!--      <span>+995 591 05 79 25</span>-->
<!--    </a>-->
  </div>
</div>
